.meal {
  display: flex;
  flex-direction: column;

  height: 100%;
  background-color: var(--meal-item-bg);
  color: var(--font-color-main);

  border-radius: 2rem;
  overflow: hidden;

  position: relative;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1; /* Ensure square images */
  position: relative; /* Required for Image with fill */
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.headerText {
  margin: 0 2rem;
}

.headerText h2 {
  font-size: 2.5rem;
}

.headerText p {
  font-size: 1.5rem;
  text-emphasis: initial;
  margin-bottom: 2rem;
}

.content {
  margin: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.summary {
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.actions a:link,
.actions a:visited {
  background-color: var(--font-highlight);
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 1rem;
  transition: all 0.2s;
}

.actions a:hover,
.actions a:active {
  background-color: var(--font-highlight-tint);
  transform: translateY(-2px);
}
